 * { 
    box-sizing: border-box;
 }

 body  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .container {
    margin: 20px;
    width: 100%;
 }

 .row {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
 }

 hr {
    border: 1px solid white;
 }

 .game-info {
    display: flex;
 }

 .game-info .game-name {
    flex: 1;
 }

 .game-info .category{
    flex: 1;
    text-align: center;
 }

 .game-info .category span{
    text-transform: capitalize;
    color: crimson;
    font-weight: bold;
 }

 .hangman-draw { 
    flex: 1;
    background-color: lightblue;
    padding:80px;
    height: 30%;
    width: 50%;
 }

 .hangman-draw .the-draw {
    width: 60px;
    height: 280px;
    border-bottom: 4px solid black;
    position: relative;
    margin: auto;

 }

 .hangman-draw .the-stand:before {
    content: '';
    position: absolute;
    width: 4px;
    background-color: black;
    height: 100%;
    left: 50%;
    margin-left: -2px;
 }

 .hangman-draw .the-hang:before {
    content: '';
    position: absolute;
    height: 4px;
    background-color: black;
    width: 100px;
    left: 30px;
    top: 30px;
 }

 .hangman-draw .the-hang:after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: black;
    height: 30px;
    left: 130px;
    top: 20px;
 }

 .hangman-draw .the-rope {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   position: absolute;
   left: 95px;
   top: 45px;
   border: 4px dashed rgb(194, 2, 2);
 }

 .hangman-draw .the-man .head {
   width: 50px;
   height: 50px;
   border-radius: 50%;
  border:  4px solid black;;
   position: absolute;
   left: 110px;
   top: 55px;
 }

 .hangman-draw .the-man .body {

   position: absolute;
   background-color: black;
   width: 4px;
   height: 110px;
   top: 103px;
   left: 130px;
 }

 .hangman-draw .the-man .hands:before {
   left: 85px;
   transform: rotate(30deg);
 }
 .hangman-draw .the-man .hands:after {
   left: 130px;
   transform: rotate(-30deg);
 }

 .hangman-draw .the-man .hands:before,
 .hangman-draw .the-man .hands:after {
   content: '';
   position: absolute;
   width: 50px;
   top: 150px;
   height: 4px;
   background-color: black;
 }


 .hangman-draw .the-man .legs:before {
   left: 85px;
   transform: rotate(-30deg);
 }
 .hangman-draw .the-man .legs:after {
   left: 130px;
   transform: rotate(30deg);
 }

 .hangman-draw .the-man .legs:before,
 .hangman-draw .the-man .legs:after {
   background-color: black;
   content: '';
   position: absolute;
   width: 50px;
   top: 220px;
   height: 4px;
 }

 .letters {
   flex:1;
   padding: 15px;
   text-align: center;
   margin-bottom: 20px;
 }

 .letters .letter-box {
   width: 55px;
   height: 50px;
   display: inline-block;
   background-color: rgb(80, 156, 109);
   color: white;
   font-size: 24px;
   margin-right:10px;
   line-height: 50px;
   text-transform: uppercase;
   font-weight: bold;
   cursor: pointer;
   margin-bottom: 10px;
 }

 .letters-guess {
   margin-top: 20px ;
   padding: 20px;
   min-height: 105px;
   justify-content: center;
   display: flex;


 }

 .letters-guess span {
   width: 50px;
   height: 50px;
   font-size: 30px;
   margin-right: 10px;
   text-align: center;
   line-height: 50px;
   text-transform: uppercase;
   font-weight: bold;
   background-color: bisque;
   border-bottom: 3px solid black;
   transition: .3s;
 }

 .letters-guess span.with-space {
   background:none;
   border-bottom: none;
   position: relative;
}

 .letters-guess span.with-space:before {
   content: '';
   width: 20px;
   display: block;
   height: 4px;
   background-color: aquamarine;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
 }

.letters .letter-box.clicked {
   background-color: rgb(161, 37, 37);
   opacity: .2;
   pointer-events: none;
}